{% extends "/templates/standard.html.twig" %}

{% block content %}

<h1>{{page}}</h1>

{% if errors["emptyInput"] %}
    {{errors["emptyInput"]}}
{% endif %}

<form action="./Signup.php" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" placeholder="Enter your username"><br>
    <span>
        {% if errors["usernameTaken"]%}
            {{errors["usernameTaken"]}}
        {% endif %}
    </span>
    <br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd" placeholder="Enter your password"><br>
    <br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" placeholder="Enter your email"><br>
    <span>
        {% if errors["invalidEmail"]%}
            {{errors["invalidEmail"]}}
        {% endif %}
        {% if errors["emailUsed"]%}
            {{errors["emailUsed"]}}
        {% endif %}
    </span>
    <br>
    <button type="submit">Signup</button>
</form>

{% endblock %}
